/// --- 1. Definición de Variables, Mapas y Condicionales @if ---

$ligh-theme: true;
$dark-theme: true;

// Condicional @if para el body según el tema
body{
    @if $ligh-theme == true{
        background-color: #fff;
        color: #000;
    }@else if $dark-theme{
        background-color: #000;
        color: #fff;
    }@else{
        background-color: #aaa;
        color: #444;
    }
    margin: 0;
}

/// --- 2. Mapas de Colores para Botones y Tarjetas ---

// Colores de los botones (usado en @each)
$theme-colors: (
    "error" : #FF0000,           
    "warning" : rgb(239, 241, 120), 
    "accepted" : rgb(55, 138, 0),    
    "normal" : rgb(0, 110, 255)     
);

// Colores de fondo de las tarjetas
$card-backgrounds: (
    "card-1": rgb(167, 213, 114),
    "card-2": rgb(112, 169, 239),
    "card-3": rgb(228, 203, 76),
    "card-4": rgb(173, 137, 201)
);

/// --- 3. Bucle @while ---
$num: 1;
@while $num <= 4 {
    @debug "Procesando tarjeta #{$num} con @while";
    $num: $num + 1;
}

/// --- 4. Bucle @for para items de lista ---
// $color-list: #0f0, #00f, rgb(204, 204, 204), orange;

// @for $i from 1 through 4 { 
//     li:nth-of-type(#{$i}){
//         color: #f00;
//         background-color: nth($color-list, $i);
//     }
// }

/// --- 5. Función Personalizada para Calcular Ancho de Tarjetas ---
@function calc-card-width($columns: 2) {
    $total-gap-space: $container-gap * ($columns - 1);
    @return calc((100% - #{$total-gap-space}) / #{$columns});
}

// Función de ancho de columna (del código original)
@function anchura-col($cols, $total){
    @return percentage($cols/$total);
}

/// --- 6. Mixin para Estilos de Borde ---
@mixin apply-border($color: $border-color, $width: $border-width) {
    border: $width #{$border-style} $color;
    border-radius: $border-radius;
}



// colores generales
$color-background: #ccc;
$color-baser: #333;

//colores menu
$navbar-background-color: rgb(69, 228, 11);
$navbar-color-hover: $color-background;
$navbar-text-color: #333;

//colores del borde
$border-color: $color-baser;
$border-style:"solid";
$border-width: 0.1rem;

//contenido de bordes y margenes
$border-radius: 1rem;
$main-container-width:95%;
$margin: 0px auto;
$padding: 1rem;
$padding-2: 0.2rem;
$container-gap: 1rem;
$card-padding: 0.8rem;
$btn-border-radius: 0.4rem;

// Validación @error del border-radius
@if ($border-radius <= 0) {
    @error "La variable $border-radius debe ser mayor que 0.";
}

.container{
    width: $main-container-width;
    margin: $margin;
}

nav{
    width: 100%;
    background-color: $navbar-background-color;
    padding: $padding-2;
    color: $navbar-text-color;
    
    ul{
        display: flex;
        list-style: none;
        padding-left: 0;
        margin: 0;
        
        li{
            display: inline-block;
            padding-left: $padding;
            padding-right: $padding;

            &.espaciado {
                margin-left: auto; 
                display: flex;
                align-items: center;

                a {
                    padding: 0.2rem 0.5rem;
                    margin-left: 0.2rem;
                }
            }

            &.active{
                a {
                    color: white;
                    font-weight: normal;
                    text-decoration: underline;
                }
            }

            &:nth-child(2) a {
                color: blue;
                text-decoration: underline;
            }

            &:nth-child(3) a {
                color: red;
                text-decoration: underline;
            }

            &:nth-child(4) a {
                color: purple;
                text-decoration: underline;
            }

            &:hover{
                color: $navbar-color-hover;
            }

            a{
                text-decoration: underline;
                color: $navbar-text-color;
                
                &:hover {
                    color: $navbar-color-hover;
                }
            }
        }
    }
}

/*Funciones previas*/

$figure-width: 45%;
$font-size: 0.8rem;
$margin-1: 0.5rem;
$width: 100%;

.cards {
    width: 100%;
    text-align: center;
}

figure.card{
    display: inline-block;
    vertical-align: top;
    width: $figure-width;
    margin: 0.5rem;
    box-sizing: border-box;
    @include apply-border();
    padding: $card-padding;
    
    // Bucle @for para aplicar colores de fondo a las tarjetas
    @for $i from 1 through length($card-backgrounds) {
        @debug "Aplicando estilo a la tarjeta #{$i}";

        &:nth-of-type(#{$i}) {
            $color-key: "card-#{$i}";
            background-color: map-get($card-backgrounds, $color-key);
        }
    }
}

img{
    border-radius: $border-radius $border-radius 0 0;
    width: $width;
    height: 180px;
    object-fit: cover;
}

figcaption{
    font-size: $font-size;
    margin: $margin-1;
    text-align: center;
    
    .flag-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin: 0.5rem 0;
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: $border-radius / 2;
        
        .flag {
            width: 40px;
            height: auto;
            border-radius: 0.2rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
        
        span {
            font-weight: bold;
            font-size: 1rem;
        }
    }
    
    .btn {
        display: block; 
        width: fit-content;
        margin: 0.5rem auto; 
        padding: 0.3rem 0.8rem;
        text-shadow: 0 0 1px #00000080;
    }

    p {
        display: block;
        margin-top: 0.5rem;
        font-size: 0.75rem;
        font-weight: normal;
        text-align: left;
        padding: 0 0.5rem; 
    }
}

/// --- 7. Estilos para Botones ---
.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: $btn-border-radius;
    
    &:hover {
        box-shadow: $btn-border-radius/2 $btn-border-radius/2 #888;
    }
    
    &:active {
        background-color: orange;
        color: white;
    }
}

/// --- 8. Bucle @each para crear clases de botones dinámicamente ---
@each $name, $color in $theme-colors {
    .btn-#{$name} {
        background-color: $color;
        
        // Condicional @if para determinar el color del texto según la luminosidad
        @if (lightness($color) < 50%) {
            color: white;
        }

        nav &.btn {
            color: white;
            font-size: 0.8rem;
            padding: 0.3rem 0.6rem;
        }
    }
}