
//Colores
$color-background: #CCC;
$color-base: #333;

//Menu
$navbar-background-color: rgb(145,155,111);
$navbar-color-hover: $color-background;

//bordes
$border-color: $color-base;
$border-style: "solid";
$border-width: 0.1rem;

$border-radius: 1rem;

$main-container-width: 80%;

.container {
    width: $main-container-width;
    margin: 0px auto;
}

nav {
    background-color: $navbar-background-color;
    padding: 0.2rem;
    ul{
        li{
            display: inline-block;
            padding-left: 1rem;
            padding-right: 1rem;

            &.active {
                color: $navbar-color-hover;
                font-weight: bolder;
            }

            &:hover {
                color: $navbar-color-hover;
            }

            a {
                text-decoration: none;
            }
        }
    }
}

$figure-width: 25%;

figure.card {
    border: $border-width #{$border-style} $border-color;
    border-radius: $border-radius;
    display: inline-block;
    padding: 1rem;
    width: $figure-width;

    img {
        border-radius: 2*$border-radius;
        width: 100%;
    }

    figcaption {
        font-size: 0.8rem;
        margin:0.5rem;
        text-align: center;
    }
}